div#debug {
    width: 100%;
    border: 1px solid gray;
    padding: 1em;
}

div#header {
    width: 100%;
    border: 1px solid gray;

    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

div#header ul {
    list-style-type: none;
}

div#header ul li {
    float: left;
    text-decoration: none;
    padding-right: 2em;
}

div#header ul li a {
    text-decoration: none;
    color: yellow;
}

div#header ul#tabs {
     float: right;
}

div#main-left {
    float: left;
    width: auto;
    margin: 0;
    padding: 1em;
}

div#Ally {
    width:100%;
    display:block;
    border-bottom: 1px solid gray;
}

div#Ally table {
    float: right;
}

div#Enemy {
    width:100%;
    display:block;
    border-bottom: 1px solid gray;
}

div#main-right {
    width: 300px;
    float: right;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

table tr td {
    border: 1px solid gray;
}